*{
    margin: 0;
    padding: 0;
}

.fundo{
    background-image: linear-gradient(45deg, rgb(127, 79, 190), rgb(79, 42, 165));
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

.calculadora{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
    color: #3c7ae6;
}

.popup_lose .popup_lose_text{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-550%);
    border-radius: 15px;
    padding: 15px;
    visibility: hidden;
}

.popup_lose .show{
    visibility: visible;
}

.popup_win .popup_win_text{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-550%);
    border-radius: 15px;
    padding: 15px;
    visibility: hidden;
}

.popup_win .show{
    visibility: visible;
}

.botao{
    width: 80px;
    height: 60px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(255, 0, 0);
    border: none;
    color: white;
}

.botao:hover{
    background-color: black;
}

.botao2{
    width: 80px;
    height: 127px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(255, 0, 0);
    border: none;
    color: white;
}

.botao2:hover{
    background-color: black;
}

#resultado{
    width: 334px;
    background-color: white;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}

#plays{
    width: 334px;
    background-color: white;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}

.a{
    background-color: #525252;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 2px;
    border: none;
    color: #3c7ae6;
    cursor: pointer;
    transform: translate(115%,63%);
}

.b{
    background-color: #525252;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 2px;
    border: none;
    color: #3c7ae6;
    cursor: pointer;
    transform: translate(-151%,-45%);
}

.c{
    background-color: #525252;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 2px;
    border: none;
    color: #3c7ae6;
    cursor: pointer;
    transform: translate(151%,63%);
}